@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --primary: #121214;
  --secondary: #9953f2;
  --tertiary: #c4c4c4c4;
  --orange:  #CA7131
}

:root {
  --2xl: 4.5rem; //72px
  --xl: 3rem; //48px
  --lg: 2.25rem;  //36px
  --md: 1.5rem; //24px
  --sm: 0.875rem; //14px
  --xs: 0.625rem; //10px
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body, html{
  background: linear-gradient(269.48deg, #02041A 0.4%, #121214 55.77%, #1A114A 95.39%);
  color: var(--tertiary);
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary);
  }

  ::-webkit-scrollbar-track {
    background: linear-gradient(269.48deg, #02041A 0.4%, #121214 55.77%, #1A114A 95.39%);;
  }

}

@media (max-width: 1280px) {
  body{
    width: fit-content;
  }
}

body,
input,
select,
textarea,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: var(--white);
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;

}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;

}

.MuiInputBase-input, .MuiFormLabel-root {
  color: rgba(225, 225, 225, 0.7);
  font-size: small;
  font: 400 "Roboto", sans-serif;
}

.MuiInputBase-input {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--white);
}

