.thumb {
  height: 100%;
  padding: 1rem;
  background-image: url(../../../../public/images/thumb.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: var(--white);

  .floatCard {
    position: absolute;
    width: 45%;
    height: 100%;
    padding: 1rem;
    background-color: var(--white);
    bottom: -6rem;
    left: -.5rem;
    border-radius: var(--xs);

    h3, p {
      font-size: var(--sm);
      color: rgba(0, 0, 0, 0.5);
      font-weight: bold;
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .skeleton {
    overflow: hidden;
  }
}

.box {
  position: absolute;
  right: 1rem;
  display: flex;
  flex-direction: column;
}
