.register {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-direction: column;
  background-color: var(--primary);
  border-radius: var(--xs);
  box-shadow: 0 0 10px var(--black);


  .form {
    display: flex;
    margin: auto;

    button {
      width: 100%;
    }
  }

  .preview {
    position: relative;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    h3 {
      position: absolute;
      padding: 0.5rem;
      width: 100%;
      background: rgba(0, 0, 0, 0.7);
      color: rgba(225, 225, 225, 0.8);
    }
  }

  @media (max-width: 767px) {
    .preview {
      flex-direction: column-reverse;
    }
  }
}


