.register {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-direction: column;
  background-color: var(--primary);
  border-radius: var(--xs);
  box-shadow: 0 0 10px var(--black);


  .form {
    display: flex;
    margin: auto;

    button {
      width: 100%;
    }
  }

  .preview {
    position: relative;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 767px) {
    .preview {
      flex-direction: column-reverse;
    }
  }
}


