.thumb {
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: 4px solid var(--secondary);
  position: relative;
  color: var(--white);
  display: flex;
  align-items: flex-end;
}

.autocomplete {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

@media (max-width: 768px) {
  .autocomplete {
    width: 40%;
  }
  .skeleton {
    width: 55%;
  }
}
