.card {
  transition: all 0.3s;
  width: 18rem;
  background: transparent;
  color: var(--white);
  border: 1px solid var(--secondary);
  height: 20rem;
  padding: 1rem;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;

  h3 {
    color: rgba(225, 225, 225, 0.5);
  }
}

.cardHeader{
  border-bottom: 1px solid var(--orange);
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  color: var(--white);
  padding: 1rem 0;

}

.img {
    border-radius: 50%;
}

@media (max-width: 600px) {
  .cardEdit {
    display: none;
  }
}
