@keyframes appearTop {
  100% {
    transform: translateY(2rem);
  }
}

@keyframes appearLeft {
  100% {
    transform: translateX(-4rem);
  }
}

@keyframes appearRight {
  100% {
    transform: translateX(-6rem) translateY(4rem);
  }
}

@keyframes border-animation {
  0% { border-color: purple; box-shadow: 0 0 1rem purple; }
  33% { border-color: orange; box-shadow: 0 0 1rem orange; }
  66% { border-color: pink;  box-shadow: 0 0 1rem pink; }
  100% { border-color: purple; box-shadow: 0 0 1rem purple; }
}

.container {
  width: fit-content;
  height: 16rem;
  color: var(--white);
  position: relative;
  z-index: 2;


  h2,
  h4 {
    color: var(--secondary);
    position: relative;
  }

  h2,
  h3,
  h4 {
    font-size: var(--2xl);
    animation-delay: 150ms;
    animation-duration: 2500ms;
    animation-fill-mode: forwards;
    animation-timing-function: alternate;
  }

  h2 {
    animation-name: appearRight;
  }

  h3,
  h4 {
    position: relative;
  }

  h3 {
    animation-name: appearTop;
    top: 1rem;
  }

  h4 {
    animation-name: appearLeft;
    top: 2rem;
  }

  .demoButton{
    position: absolute;
    right: 0;
    bottom: -5rem;
    border-radius: 7px;
    border: 2px solid var(--secondary);
    animation: border-animation 4s infinite linear;
  }
}

@media (max-width: 1200px) {
  .container {
    h2,
    h3,
    h4 {
      font-size: var(--xl);
    }

    .demoButton{
      bottom: 0;
    }
  }
}
