.floatCard {
  background-color: var(--primary);
  padding: 0.5rem;
  height: 100%;
  width: 55%;
  color: var(--white);
  overflow: hidden;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2, h4, p, span {
    font-size: var(--sm);
    color: rgba(225, 225, 225, 0.9);
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  .label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .header,
    .Info {
      width: fit-content;
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    .Info {
      padding-left: 3.5rem;
    }
  }
}
